

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


*, *::before, *::after{
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #ded2ff;
  color: #42225e;
}

.faq-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 950px;
}


.faq{
  
  background-color: rebeccapurple;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  transition: all .4s ease;
}

.faq.active{
  background-image: url(background2.jpg);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq-title{
  margin: 0 35px 0 0;
  color: aliceblue;
}

.faq-text{
  color: white;
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text{
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: none;
  cursor: url(cursorcustom.png),pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.chevron, .close{
  width: 12px;
  height:12px;
}

.faq-toggle .close{
  display: none;
} 

.faq.active .faq-toggle .close{
  display: block;
}

.faq.active .faq-toggle .chevron{
  display: none;
}

.faq.active .faq-toggle{
  background-color: #A555EC;
  border-radius: 50%;
  color:white;
}

    *{  
        margin: 0;
        padding:0;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    body {
        background-image: url(backgroundTot.jpg);
        background-attachment: fixed;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        cursor: url(customcursor2.png),auto ;
        
      
    }
    
    .header-main {
        
        background:black;
        width: 100%;
        height: 60px;
        display: flex;
        position: fixed;
        z-index: 10;
        top: 0;
        list-style: none;
        border-bottom: solid 2px rebeccapurple;
    }

    .menu-hov {
        height: 100%;
        width: 250px;
        
    }

    .menu-hov h1 {
        cursor: url(cursorcustom.png),pointer;
        font-family: roboto; 
        
        margin-top: 11px;
        margin-bottom: 14px;
        padding: 2px;
        border-right: solid 2px rebeccapurple;
        text-align: center;
        font-size: 27px;
        color:aliceblue;     
    }

    nav {
        
        margin: 0 auto 0 0;
        overflow-y: hidden;
    }

    .SM {
        cursor: url(cursorcustom.png),pointer;
        margin: 10px 0px 10px 0;
        border-left:  solid 2px rebeccapurple;
        width: 250px;
        display: flex;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .SM li {
      display: flex;
      justify-content: center;
      align-items: center;
        width: 100%;
        
        
    }


    .sidenav {
        cursor: url(cursorcustom.png),pointer;
        position: fixed;
        left: 0;
        top: 0;
        margin-top: 60px;
        width: 250px;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: black;
        overflow-y: hidden;
        
        border-bottom-right-radius: 20px;
        border-right: 2px solid rebeccapurple; 
        
        
    }

    .sidenav_Ul { 
      padding: 5%;
      text-align: center;  
      position: relative; 
      margin: auto 0;
    }

    
    
  
    #section1 {
      height: 100%;
       overflow: hidden; 
       white-space: nowrap;
       
    }

    .logo {
        -webkit-filter: drop-shadow(5px 5px 5px black);
        filter: drop-shadow(5px 5px 5px black);
        position: absolute;
        z-index: 9;
        top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
    }


    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
        
    }

    
    .draw {
      margin-top: 30px;
    }
    .drawslide img{
        margin-top:auto 10px;
        object-fit: cover;
        width: 100%;
        height: 100vh;
    }

    .drawslide {
        display: inline-block;
        width: max-content;
        height: fit-content;
        animation: 22s slide infinite linear;
    }

    

    #section2 {
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
        height: 100vh;
        padding-top:75px;
        -webkit-filter: drop-shadow(1px 5px 4px hsla(0, 0%, 0%, 0.666));
        filter: drop-shadow(1px 5px 4px hsla(0, 0%, 0%, 0.666));
        
    }

    #section3 {
        height: 100vh;
        position: relative;
        overflow-y: hidden;

        -webkit-filter: drop-shadow(1px 5px 4px hsla(0, 0%, 0%, 0.666));
        filter: drop-shadow(1px 5px 4px hsla(0, 0%, 0%, 0.666));
    }



/* DROPDOWN STYLING START*/

.wrapper {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
}

.menu-hov:hover>.wrapper{
    transition: all ease-in-out 0.2s;
    visibility: visible;
    opacity: 1;
    display: block;
}

.menu-hov:hover h1{
    transition: all ease-in-out 0.2s;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    
    color: rebeccapurple;
    
}

.menu-hov:not(:hover) h1{
    transition: all ease-in-out 0.150s;
    border-right: solid 2px rebeccapurple;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    
}


/*DROPDOWN STYLING END*/

/*SOCIAL MEDIA HOVER EFFECT*/

.SM li:hover {
    transition: ease-in-out 0.150s;
    opacity: 50%;
    
}

.SM li:not(:hover){
    transition: ease-in-out 0.1s;
    opacity: 100%;
}

/*STOP SOCIAL MEDIA HOVER EFFECT*/

/*HOVER LOGO*/

.logo:hover{
    width: 37%;
    transition: ease-in-out 0.3s;
    position: absolute;
    
}

.logo:not(:hover){
    width: 35%;
    transition: ease-in-out 0.2s;
    position: absolute;
    
}


/* sidenav li hover */

.sidenav_Ul li img:not(:hover) {
  width: 18px;
  height: 18px;
  margin: auto 2px;
  
}

.sidenav_Ul li img:hover {
  width: 13px;
  height: 13px;
  margin: auto 2px;
}

  .sidenav_Ul li {
    
    content: "";
    transition: 0.1s ease-in-out;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 25px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    text-decoration: none;   
    
    border: 2px solid rebeccapurple;
    
    margin: 6vh 18px;
    z-index: -1;
    box-shadow:
     -7px -3px 15px 0px black,
     -4px -4px 5px 0px black,
     7px 3px 15px 0px rebeccapurple,
     4px 4px 5px 0px rebeccapurple;
    transition: all 0.3s ease;
  }
 
  .sidenav_Ul li:hover:after {
    left: 0;
    width: 100%;
  }
  .sidenav_Ul li:active {
    top: 2px;
  }

  .sidenav_Ul li:hover {
        
        
    border: 0;
    border-radius: 60%;
    border-radius: 25px;
    transition: 0.1s ease-in-out;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
   
    font-size: 22px;
    
}



/* sidenav li NOT hover */

/*footer*/
.footermain{
 
  overflow-y: hidden;
  height: 50px;
  background-image: url(background2.jpg);
  border-top: 2px solid rebeccapurple;
  position: absolute;
  bottom: 0;
  list-style: none;
  color: aliceblue;
  display: flex;
  align-items: center;
  object-fit: cover;
  
}

.footertitle{
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  background-image: url(background2.jpg);
  padding: 16px;
  border-radius: 0 25px 25px 0;
  color: rebeccapurple;
  z-index: 10;  
  -webkit-filter: drop-shadow(3px 2px 4px hsl(0, 0%, 0%));
        filter: drop-shadow(2px 2px 4px hsl(0, 0%, 0%));
        
}



.footermainlist{
 
  font-size: 15px;
  font-weight: 300;
  font-style: oblique;
  display:flex;
  justify-content: space-around;
  width: 150rem;
  animation: 16s footerslide infinite linear;
  opacity: 0.9;
}

 @keyframes footerslide {
  from {
    transform: translateX(0);
}
to {
    transform: translateX(-100%);
}

}

/*footer end*/

/*charities notes*/

.premessa{
  color: #000000a5;
  background-color:rgba(240, 248, 255, 0.747);
  width: 800px;
  height: 130px;
  padding: 10px;
  border-radius: 15px;
  margin: fit-content auto auto auto;
  
  overflow: hidden;
  
}

.premessa p{
  font-size: 15px;
}

.premessa h1{
  color: #000;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}



/*charities notes end*/

/*charities*/

.cards img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  overflow: hidden;
  position: absolute;
  top: 250px;
  height: 75%;
  max-height: 1000px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem 1rem 2rem 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background: url(background2.jpg);
  color: aliceblue;
  border-radius: 15px;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image{
      filter: contrast(100%);
    }
  }
}


.card__content {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
    display: block;
    padding-top: 66.6%; 
  }
  
}



.card__image--1 {
  background-image: url(uno.jpg);
}

.card__image--2 {
  background-image: url(16x9.png);
}

.card__image--3 {
  background-image: url(tre.jpeg);
}

.card__title {
  display: flex;
  justify-content: center;
  color: gray-dark;
  font-size: 1.50rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  margin-top:1.25rem ;
}

.sectionread{
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto 10px auto;
  justify-content: center;
  height:55px;
  width: 280px;
  right: 0;
  background-color: rebeccapurple;
  padding: 8px;
  color: aliceblue;
  font-weight:400;
  
  opacity: 0.9;
  box-shadow:
   -1px 0px 15px 0px #000000;
  overflow-y: hidden;
  cursor: url(cursorcustom.png),pointer;

}

.sectionread div{
  -webkit-filter: drop-shadow(5px 5px 5px black);
      filter: drop-shadow(5px 5px 5px black);
  opacity: 80%;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  margin: 10px;
  font-size: 25px;
}

/*charities end*/

/*HOVER charities HERE*/

.sectionread:hover {
      
  color: #fff;
  opacity: 1;
  transition: all 0.3s;
}

.sectionread:hover img{
  margin-right: 0;
  transition: all 0.3s;
}

.sectionread:not(:hover) img{
  margin-right: 10px;
  transition: all 0.3s;
}

.sectionread:before {
  position: absolute;
  content: '';
  display: inline-block;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #fff;
  animation: shiny-sectionread 3s ease-in-out infinite;
}


@keyframes shiny-sectionread {
0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
81% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.9; }
100% { -webkit-transform: scale(10) rotate(45deg); opacity: 0; }
}


/*HOVER charities END*/ 

@media (max-height:500px) {
  #secton1{
    position: absolute;
  }
}

@media (max-height:800px) {

  .sidenav_Ul li {
    margin: 4vh 28px;
  }

  #section2 {
    height: 900px;
  }

  #section3{
    height: 900px;
  }

  .premessa {
    display: none;
  }
  .cards {
    
    top: 70px;
  }
}

@media(max-height: 945px){

  

  .sidenav_Ul li{
    font-size: 21px; 
}

.sidenav_Ul li:hover {

  font-size: 19px;
  
}

  .premessa{
    font-size: 15px;
  }

  .premessa h1{
    font-size: 20px;
  }


}


@media(max-width:1200px) {
  .cards {
    
    bottom: 0;
    height: 75%;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sectionread{
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin:0 0 17px 27px;
    justify-content: center;
    height:55px;
    width: 180px;
    right: 0;
    background-color: rebeccapurple;
    padding: 8px;
    color: aliceblue;
    font-weight:400;
    font-size: 25px;
    opacity: 0.9;
    box-shadow:
     -1px 0px 15px 0px #000000;
    overflow-y: hidden;
    cursor: url(cursorcustom.png),pointer;
  
  }

  .sectionread div {
    font-size: 23px;
    margin:5px;
  }

 
}

@media (max-width: 1080px) {

  

  .faq-container {
    
    width: 80%;
    
  }

  .menu-hov {
    height: 100%;
    width: 150px;
}

  .menu-hov h1 {
    font-size: 22px;
    margin-top: 14px;
  }

  .sidenav {
    width: 150px;
  }

  .sidenav_Ul li {
    margin: 4vh 8px;
    font-size: 15px;
    padding: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidenav_Ul li:hover {
   
    border-radius: 60%;
    border-radius: 25px;
    transition: 0.1s ease-in-out;
    margin: 4vh 10px;
    text-align: center;
    opacity: 90%;
    font-size: 13px;
    
}

.sidenav_Ul li img:not(:hover) {
  width: 10px;
  height: 10px;
  margin: auto 2px;
  
}

  .sidenav_Ul li:hover img {
    width: 13px;
    height: 13px;
    margin: auto 2px;
  }

  

  .SM {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 150px;
    margin:14px 0px 14px 0px; 
  }
  

  .SM li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .SM li img {
    
    height: 16px;
    width: 16px;
  }

  .logo:hover{
    width: 390px;
    transition: ease-in-out 0.3s;
    position: absolute;
    

   
}

  .logo:not(:hover) {
    width: 370px;
    transition: ease-in-out 0.2s;
    position: absolute;
   
   
  }


}

@media (max-width:1000px) {

  

  .premessa{
    width: 500px;
    font-size: 13px;
    height: 120px;
  }

  .premessa h1{
    font-size: 17px;
  }

  .cards__item {
    height: fit-content;
  }

  .cards {
    
    margin: 0px 100px;
    width: auto;
  }

  .card {
    flex-direction: row;
    height: max-content;
    width: auto;
  }

  .cards__item{
    width: auto;
    padding: 10px 0;
  }

  .card__image {
    width: 250px;
  }

  .card__content {
    display: block;
    width: 500px;
    padding: 1rem;
  }
  
  .card__title {
    font-size: 15px;
  }

  .card__text {
    font-size: 13px;
    margin: max-content 0;
  }

  .sectionread{
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;
    height:35px;
    width: 180px;
    padding: 10px;
    margin:20px auto 0 auto;
    
  }

  .sectionread div{
    font-size: 20px;
  }

  .booklogo img{
    width: 20px;
    height: 20px;
  }

  .footermain {
    display: none;
  }

}

@media (max-width:800px) {

  .faq-container {
    width: 90%;
  }

  .premessa{
    width: 400px;
    padding: 10px;
    height: fit-content;
  }

  .premessa h1{
    padding: 0;
    font-size: 13px;
  }

  .cards {
    
    width: 0 auto;
    margin: auto 25px;
    justify-content: center;
  }

  .card {
    height: 170px;
  }

  .card__content {
    width: auto;
    padding: 10px;
  }

  .card__text {
    margin: 3px 0;
    height: 80px;
  }
  .cards__item {
    padding: 0;
  }

  .card__image {
   display: none;
  }

  .sectionread {
    margin-top: 10px;
  }

}

@media (max-width:500px) {

  .faq-container{
    width: 95%;
    
  }

  .SM {
    width: 120px;
    justify-content: end;
    border-radius: 0;
    border: 0;
  }

  .SM li{
    width: 40px;
  }

  

  .premessa{
    width: 250px;
    font-size: 10px;
    padding: 10px;
    height: fit-content;
  }

  .premessa h1{
    padding: 0;
    font-size: 13px;
  }

  .card {
    height: 210px;
  }

  .cards {
    margin: auto 10px;
    justify-content: center;
  }

  .card__content {
    width: auto;
    padding: 10px;
  }


  .card__text {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 5px;
    margin: 0;
    height: 130px;
  }

  .card__image {
    position: absolute;
    opacity: 0.2;
    width: auto;
    height: 150px;
    border-radius: 25px;
  }

  .sectionread {
    
    padding: 5px;
  }

  .logo:hover{
    width:300px;
    transition: ease-in-out 0.3s;
    position: absolute;
    
    

   
}

  .logo:not(:hover) {
    width: 250px;
    transition: ease-in-out 0.2s;
    position: absolute;
    
   
    
   
  }

} 

@media(max-width:300px) {
  .SM {
    display: none;
  
  }
  
  
  }

