

    *{  
        margin: 0;
        padding:0;
        scroll-behavior: smooth;
        overflow-x: hidden;

        
    }

    body {
        background-image: url(backgroundTot.jpg);
        background-attachment: fixed;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        cursor: url(customcursor2.png),auto;
        
    }
    
    .header-main {
        
        background:black;
        width: 100%;
        height: 60px;
        display: flex;
        position: fixed;
        z-index: 10;
        top: 0;
        list-style: none;
        border-bottom: solid 2px rebeccapurple;
    }

    .menu-hov {
        height: 100%;
        width: 250px;
        
    }

    .menu-hov h1 {
        cursor: url(cursorcustom.png),pointer;
        font-family: roboto; 
        
        margin-top: 11px;
        margin-bottom: 14px;
        padding: 2px;
        border-right: solid 2px rebeccapurple;
        text-align: center;
        font-size: 27px;
        color:aliceblue;     
    }

    nav {
        
        margin: 0 auto 0 0;
        overflow-y: hidden;
    }

    .SM {
        cursor: url(cursorcustom.png),pointer;
        margin: 10px 0px 10px 0;
        border-left:  solid 2px rebeccapurple;
        width: 250px;
        display: flex;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .SM li {
      display: flex;
      justify-content: center;
      align-items: center;
        width: 100%;
        
        
    }


    .sidenav {
        position: fixed;
        left: 0;
        top: 0;
        margin-top: 60px;
        width: 250px;
        height: 100%;
        background-color: black;
        opacity: 90%; 
    }

    
    .sidenav_Ul { 
        padding: 5%;
        text-align: center;  
        position: relative; 
        margin: auto 0;
      }

    .sidenav_Ul li{
        display: flex;
      justify-content: center;
        
        margin: 6vh 18px;
        padding: 6%;
        font-size: 23px;
        font-family: 'Roboto', sans-serif;
        color: aliceblue;
        text-decoration: none;   
        border-radius: 50px;
        border: 2px solid rebeccapurple;
    }

   

    .sidenav_Ul li a{
        cursor: url(cursorcustom.png),pointer;
        
        text-decoration: none;   
        
    }


    .sectionimg:hover {
        cursor: url(cursorcustom.png),pointer;
      
      opacity: 60%;
    }
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 60px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: hidden; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
        
        margin:auto;
        width: 500px;
        
      display: block;
      
      
    }
    
    
    /* Add Animation */
    .modal-content{  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
    }
    
    

    /* The Close Button */
    .close {
      cursor: url(cursorcustom.png),pointer;
      padding: 10px;
      top: 60px;
      display: flex;
      justify-content: center;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      
    }
    
    
            .sidenav{
                box-shadow: 1px 1px 10px black;
            }
    
            .header-main {
                box-shadow: 1px 1px 10px black; 
            }


    /*SOCIAL MEDIA HOVER EFFECT*/

.SM li:hover a{
    transition: ease-in-out 0.150s;
    opacity: 50%;
    
}

.SM li:not(:hover)a{
    transition: ease-in-out 0.1s;
    opacity: 100%;
}

/*STOP SOCIAL MEDIA HOVER EFFECT*/

.menu-hov:hover h1{
    transition: all ease-in-out 0.2s;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    
    color: rebeccapurple;
    
}

.menu-hov:not(:hover) h1{
    transition: all ease-in-out 0.150s;
    border-right: solid 2px rebeccapurple;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;    
}
.main {
    -webkit-filter: drop-shadow(2px 5px 5px black);
        filter: drop-shadow(2px 5px 5px black);
    margin-top: 70px;
    margin-left: 275px;
    margin-right: 275px;
}
.sectionback {
    
    position: relative;
    display: flex;
    margin-top: 70px;
    width: auto;
    border-radius: 25px;
    background-image: url(background2.jpg);
    border-top: 2px solid rebeccapurple;
    border-bottom: 2px solid rebeccapurple;
    opacity: 90%;
    height: 300px;
    overflow: hidden;
    
}

.sectionimg {
    
    position: absolute;
    overflow: hidden;
    width: 170px;
    
     margin: 5px 5px;
    padding:10px;
    -webkit-filter: drop-shadow(1px 1px 1px aliceblue);
    filter: drop-shadow(1px 1px 3px rebeccapurple);
}

.sectionimg {
  padding:0;
  width: 180px;
  margin: 22px 0 0 20px;
}

.sectionimg img {
  border-radius: 25px;
}

.sectiongroup {
    margin: auto 0 auto 215px;
    width: 100%;
    right: auto;
}

.sectiontitle{
  display: flex;
  justify-content: center;
  align-items: center;
    font-weight: 400;
    padding:15px 15px 15px 15px;
    margin-right: 10px;
    height:100px ;
    list-style: none;
    color: aliceblue;
    border-bottom: 2px solid rebeccapurple;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 40px;
    
}
.sectiondescription{
    font-weight: 100;
    margin-top: 10px;
    margin-right: 10px;
    padding:15px 15px 15px 15px;
    height:120px ;
    border-top: 2px solid rebeccapurple;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: aliceblue;
    font-size: 22px;
    text-align: center;
    -webkit-filter: drop-shadow(1px 1px 1px aliceblue);
    filter: drop-shadow(1px 1px 1px rebeccapurple);
    list-style: none;
    
}

.sectionread{
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:55px;
    margin-left: auto;
    margin-right: 5px;
    width: 300px;
    right: 0;
    background-color: rebeccapurple;
    padding: 8px;
    color: aliceblue;
    font-weight:400;
    font-size: 25px;
    opacity: 0.9;
    box-shadow:
     -1px 0px 15px 0px #000000;
    overflow-y: hidden;
    cursor: url(cursorcustom.png),pointer;

}

.sectionread div{
    -webkit-filter: drop-shadow(5px 5px 5px black);
        filter: drop-shadow(5px 5px 5px black);
    opacity: 80%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    margin: 10px;
}





/* DROPDOWN STYLING START*/

.wrapper {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
}



.menu-hov:hover>.wrapper{
    transition: all ease-in-out 0.2s;
    visibility: visible;
    opacity: 1;
    display: block;
}

.menu-hov:hover h1{
    transition: all ease-in-out 0.2s;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    opacity: 80%;
    color: rebeccapurple;
    
}

.menu-hov:not(:hover) h1{
    transition: all ease-in-out 0.150s;
    border-right: solid 2px rebeccapurple;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    
}


/*DROPDOWN STYLING END*/



/*HOVER READ HERE*/

  .sectionread:hover {
      
      color: #fff;
      opacity: 1;
      transition: all 0.3s;
  }
  .sectionread:before {
      position: absolute;
      content: '';
      display: inline-block;
      left: 0;
      width: 200px;
      height: 100%;
      background-color: #fff;
      animation: shiny-sectionread 3s ease-in-out infinite;
  }
  
  
  @keyframes shiny-sectionread {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.9; }
    100% { -webkit-transform: scale(10) rotate(45deg); opacity: 0; }
}

  
 /*HOVER READ HERE END*/ 

 /* sidenav li hover */

 .sidenav_Ul li {
  cursor: url(cursorcustom.png),pointer;
    content: "";
    
    height: 100%;
    top: 0;
    
    z-index: -1;
    box-shadow:
     -7px -3px 15px 0px black,
     -4px -4px 5px 0px black,
     7px 3px 15px 0px rebeccapurple,
     4px 4px 5px 0px rebeccapurple;
    transition: all 0.3s ease;
  }
 
  .sidenav_Ul li:hover:after {
    left: 0;
    width: 100%;
  }
  .sidenav_Ul li:active {
    top: 2px;
  }

  .sidenav_Ul li:hover {
        
        
    border: 0;
    border-radius: 60%;
    border-radius: 25px;
    transition: 0.1s ease-in-out;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    opacity: 90%;
    font-size: 22px;
    
}


.sidenav_Ul li:not(:hover) {
    border: 2px solid rebeccapurple;
    font-size: 23px;
    border-radius: 60%;
    border-radius: 25px;
    transition: 0.1s ease-in-out;
    text-align: center;
    opacity: 100%;
    
}

/* sidenav li NOT hover */

@media (max-width:1600px) {

  .main {
    margin: 70px 125px;
  }

  .sectiontitle {
    font-size: 25px;
  }

  .sectiondescription{
    font-size: 18px;
  }
}

@media (max-width: 1080px) {

    
    .sectionimg {
      padding:0;
      width: 180px;
      
    }

    

    .sectiontitle {
      padding: 10px;
    }

    .sectiondescription {
      border: 0;
      margin-top: 0;
      font-size: 17px;
      padding: 7px;
    }

    .sectionback {
      border-radius: 30px;
    }

    .main {
      margin: 70px 75px;
    }
  
    .menu-hov {
      height: 100%;
      width: 150px;
  }
  
    .menu-hov h1 {
      font-size: 22px;
      margin-top: 14px;
    }
  
    .sidenav {
      width: 150px;
    }
  
    .sidenav_Ul li {
      margin: 6vh 8px;
      font-size: 15px;
      padding: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .sidenav_Ul li:hover {
     
      border-radius: 60%;
      border-radius: 25px;
      transition: 0.1s ease-in-out;
      margin: 6vh 8px;
      text-align: center;
      opacity: 90%;
      font-size: 13px;
      
  }

  .sidenav_Ul li:not(:hover) {
    font-size: 15px;
  }
  
  
    
  
    .SM {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 150px;
      margin:14px 0px 14px 0px; 
    }
    
  
    .SM li a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .SM li img {
      
      height: 16px;
      width: 16px;
    }

    .sectionread {
      margin: 0 auto;
    }

  

}

@media (max-width:700px) {

  .main {
    margin: 70px 20px;
  }

  .sectionback {
    height: 250px;

  }

  .sectionimg {
    margin-top: 20px;
    width: 145px;
  }

  .sectiongroup {
    margin-left: 180px;
  }

  .sectiontitle{
    font-size: 20px;
  }

  .sectiondescription {
    display: none;
  }


.sectionread {
  width: 230px;
  margin: 50px auto 0 auto;
}



}

@media (max-width:500px) {

  .SM {
    width: 120px;
    justify-content: end;
    border-radius: 0;
    border: 0;
  }

  .SM li{
    width: 40px;
  }


  .main {
    margin: 70px 10px;
  }

  .sectionback {
    height: 200px;
  }

  .sectionimg {
    width: 120px;
    margin: 15px 0 0 15px;
  }

  .sectiongroup {
    margin-left:155px ;
  }

  .sectiontitle {
    font-size: 17px;
    padding: 10px 17px;
    
  }

  
  .sectionread {
    margin-top: 15px;
    font-size: 17px;
    width: 145px;
    padding: 4px;
  }

  .sectionread div{
    margin: 5px;
  }

  .sectionread img {
    width: 18px;
    height: 18px;
  }
}

@media (max-width:350px) {

  .sectiongroup {
    margin-left: 15px;
    margin-right: 15px;
  }

  .sectionimg {
    width: 70px;
  }
  .sectionimg img {
    border-radius: 10px;
  }
  .sectiontitle {
    border: 0;
    margin-left: 80px;
    margin-right: 0;
  }
  .sectionread {
    width: 100%;
    margin: 15px auto 0 auto;
  }
 
}

@media(max-width:300px) {
.SM {
  display: none;

}

.sectionimg {
  display: none;
}
.sectiontitle {
  margin: 0;
}

}